<%- include('layouts/nav'); -%>

<section class="funFoodQuote">
  <p>
    "
    <%= quote%>
    "
  </p>
</section>

<section class='tagsCont'>
<%categories.forEach((cat)=>{%>
    <div class="tag"><span><%=cat%></span></div>
  <%});%>
</section>

<section class="postCont">
<%posts.forEach((post)=>{%>
    <div class="post">
      <div class="postImg">
        <a class='postTitle' href="/posts/<%=post.title%>"><img src="<%=post.image%>" alt="picture of food"/></a>
      </div>
      <div class="postDetails">
      <a class='postTitle' href="/posts/<%=post.title%>"><p><%=post.title%></p></a>
      <p class="ingredients"><span>Ingredients: </span>rice , tomatoes, green pepper , spring onions</p>
    </div>
    </div>
  <%});%>
</section>

<form class="" action="index.html" method="post">
  <button type="submit" name="button">LOAD MORE RECIPES</button>
</form>
<link rel="stylesheet" href="css/posts.css">
<%- include('layouts/footer'); -%>
